<% USE date %>

<% IF notices.size > 0 %>
<h2 class="group-name">Notices</h2>
<table id="notices" class="data">
  <tbody>
<% FOR notice IN notices %>
    <td class="date"><% date.format(time = notice.timestamp, format = "%e %B") %></td>
    <td class="<% IF notice.expired %>expired<% END %>"><% notice.message %></td>
  </tbody>
<% END %>
</table>
<% ELSE %>
<section class="billboard billboard-notice">
  <p>No notices</p>
</section>
<% END %>

